DB=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/<DBName>?retryWrites=true&w=majority

DB_NAME=YOUR_PASSWORD

LISTINGS_COLLECTION=listing
USERS_COLLECTION=users
BOOKINGS_COLLECTION=bookings

G_CLIENT_ID=GOOGLE-CLIENT-ID
G_CLIENT_SECRET=GOOGLE-CLIENT-SECRET
PUBLIC_URL=CLIENT-URL

SECRET=SECRET-FOR-COOKIE-PARSER
NODE_ENV=development

G_GEOCODE_KEY=GOOGLE_GEOCODE_KEY

S_SECRET_KEY=GOOGLE_GEOCODE_SECRET_KEY

CLOUDINARY_NAME=CLOUDINARY_ACCOUNT_NAME
CLOUDINARY_KEY=CLOUDINARY_ACCOUNT_KEY
CLOUDINARY_SECRET=CLOUDINARY_ACCOUNT_SECRET